.dsCountDown:after{
	content:'';
    clear: both;
}

.dsCountDown{
    display:inline-block;
	*display: inline;
    zoom: 1;
}

/* ------------------------- White Theme ------------------------- */
.dsCountDown.ds-white {
    color: #000;
    position: relative;
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 1em;
    margin-top: 22px;
	

}

.ds-white .ds-element {
	float: left;
    margin-right: 74px;
    padding-right: 10px;
}

.dsCountDown.ds-white > .ds-element.ds-element-seconds {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.ds-white .ds-element-title {
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
}

.ds-white .ds-element-value {
	font-size: 35px;
    color: #333;
    font-weight: 800;
}



/* ------------------------- Black Theme ------------------------- */
.dsCountDown.ds-black {
	color: #fff;
	position: relative;
	font-family: Arial, Helvetica, sans-serif, serif;
	font-size: 1em;
	padding: 10px;
	border: 1px solid #323232;
	border-radius: 2px;
	

}

.ds-black .ds-element {
	float: left;
	margin-right: 10px;
	text-align: center;
	border-right: 1px solid #444;
	padding-right: 10px;
}

.dsCountDown.ds-black > .ds-element.ds-element-seconds {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.ds-black .ds-element-title {
	font-size: 0.8em;
	text-transform: lowercase;
}

.ds-black .ds-element-value {
	font-size: 2.5em;
	color: #fff;
	text-shadow: 0px -2px 0px #222;
}



/* ------------------------- Red Theme ------------------------- */
.dsCountDown.ds-red {
	color: #fff;
	position: relative;
	font-family: Arial, Helvetica, sans-serif, serif;
	font-size: 1em;
	padding: 10px;
	border: 1px solid #A80000;
	border-radius: 2px;
	
	

}

.ds-red .ds-element {
	float: left;
	margin-right: 10px;
	text-align: center;
	border-right: 1px solid #BC0000;
	padding-right: 10px;
}

.dsCountDown.ds-red > .ds-element.ds-element-seconds{
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.ds-red .ds-element-title {
	font-size: 0.8em;
	text-transform: lowercase;
}

.ds-red .ds-element-value {
	font-size: 2.5em;
	color: #fff;
	text-shadow: 0px -1px 0px #555;
}



/* ------------------------- Flat Theme ------------------------- */
.dsCountDown.ds-flat {
	color: #000;
	position: relative;
	font-family: Arial, Helvetica, sans-serif, serif;
	font-size: 1em;
	border: 1px solid #cdcdcd;
	background: #efefef;
	box-shadow: 4px 4px 4px #888;
}

.ds-flat .ds-element {
	float: left;
	text-align: center;
	border-right: 1px solid #dedede;
	padding: 7px 17px;
}

.dsCountDown.ds-flat > .ds-element.ds-element-seconds {
	border-right: 0;
}

.ds-flat .ds-element-title {
	font-size: 0.8em;
	text-transform: lowercase;
	color: #666;
}

.ds-flat .ds-element-value {
	font-size: 2.5em;
	color: #000;
}
